name: CI for unique ogp growi

on:
  push:

  pull_request:
    types: [opened, closed]

jobs:

  server:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        working-directory: ./src
        run: |
          npm install
 
      # TODO: check if server runs properly
